body {
  margin: auto;
}
#header h1 {
  height: 60px;
  padding: 0 0 0 0;
  margin: 0;
  border-bottom: 1px solid #2aa2d0
}
#header-nav {
  text-align: center;
  padding: 0;
}
#global-nav {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  height: 40px;
}
#global-nav > li {
  position: relative;
  float: left;
  line-height: 40px;
  width: 150px;
}
#global-nav > li > a {
  font-size: 20px;
  text-decoration: none;
}
